<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Table.css">
</head>
<body>
    <div>
      <a href="/"><button>Add User</button></a>
    </div>
    <table>
        <thead>
          <tr>
           
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
            <th>Action</th>
    
    
    
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) {  %>
            <tr>
             
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone %></td>
              <td><%= user.country %></td>


               <td>
                <a href="/UpdateList/<%= user.id %>"><button>Edit</button></a>

                
                <a href="/Delete/<%= user.id %>"><button>Delete</button></a>
               </td>
    
            </tr>
          <% }); %>
        </tbody>
      </table>
</body>
</html>